body.trucks {
		#trucks.section {
			background: url("/assets/trucksbg2.jpg") no-repeat fixed;
		  	background-size: cover;
		  	background-position: bottom;
			@media (max-width: @mobile-max) { 
				/*background: url("/assets/trucksbg2.jpg") no-repeat fixed;
				background-size:cover;*/
				background-position: right;
			}
		  	height: 100%;
		  	.container {
		  		max-width: 500px;
		  		margin-top: -150px;
		  		@media (max-width: @mobile-max) { 
		  			margin-top: 0px;
		  		}
		  	}
		}

		#site-footer {
			.container {
				padding: 20px;
			}
			.copyright {
				padding: 5px;
			}
			border-bottom: 0;
			padding: 0;
		}
	h1 {
		color: #FF6200;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	#site-footer {
		.container {
			padding: 20px;
		}
		.locales {
			margin-top: -20px;
		}
		.copyright {
			padding: 5px;
		}
		border-bottom: 0;
		padding: 0;
	}
}

