@import "typography";
@import "retina";

@padding: 10px;
@red: #ef3939;
@green: #00CAA7;
@blue: #009BFF;
@gray: rgba(0, 0, 0, 0.7);
@width-content: 960px + @padding*4;
@width-text: 670px;
@mobile-max: 679px;
@nav-max: 880px;

::selection {
  background: @red;
  color: white;
}

html, body {
  height: 100%;
}

body {
  background: white;
  color: #111;
  margin: 0;
}

img.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
  font-weight: 400;
  color: @gray;
  &.lead {
    font-size: 1.25em;
  }
  &.subheading {
    font-weight: 800;
    color: @red;
  }
  &.gray {
    color: white;
    text-align: center;
  }
  &.secondary {
    font-size: 0.9em;
  }
}

strong {
  font-weight: 500;
}

h1, h2, h3, h4 {
  margin-top: 1em;
  line-height: 1;
  margin-bottom: 0.3em;
}

h1 {
  font-weight: 500;
  font-size: 3em;
  text-indent: -0.065em; // Aligning stems
  &.hero {
    text-align: center;
    color: white;
  }
}

h2 {
  font-weight: 500;
  font-size: 1.28em;
  transition: 0.5s;
  &.red {
    color: @red;
    text-align: center;
    margin-bottom: 12px;
  }
}

h3 {
  position: relative;
}

h4 {
  margin-bottom: 0.5em;
}

.mainline {
  color: @red;
  text-transform: none;
  font-family: inherit;
  font-size: 3em;
  font-weight: 300;
  margin-top: 0;

  @media (max-width: @mobile-max) {
    font-size: 2.5em;
  }
}

.tagline {
  margin: 0;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.25em;
  line-height: 1.3;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.uppermargin {
  margin-top: 40px;
  padding-top: 40px;
}
.lowermargin {
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.section {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-size: cover;

  &.consider-header {
    border-top-width: 59px;
    body.has-submenu & {
      border-top-width: 92px;
    }
  }

  &.polygon {
    padding: 60px 0 30px;
    height: auto;
    overflow: hidden;
    > svg {
      position: absolute;
      bottom: 0;
      right: 0;
      .polygon1 {
        fill: white;
      }
      .polygon2 {
        fill: rgba(0,0,0,0.03);
      }
    }
    h1.hero {
      margin: .2em auto;
    }
    &.dark {
      color: white;
      .section-inner {
        position: relative;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: fade(black, 40%);
      }
    }
  }
}

.container {
  width: 100%;
  max-width: @width-text;
  margin: 0 auto;
  padding: 60px @padding*2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  &.fullwidth {
    max-width: @width-content;
  }

  &.consider-header {
    margin-top: 59px;
    body.has-submenu & {
      margin-top: 92px;
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.disp_no {
  display:none;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  overflow-x: hidden;

  .section-inner {
    vertical-align: middle;
    margin: auto;
  }

  // The only reason to put images here is to position
  // them relative to the section.
  .section-design-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  #email {
    background-color: blue;
  }
}

// forms

input, textarea, select {
  padding: 10px;
  margin: 0 auto 1ex;
  background-color: #f6f6f6;
  font: inherit;
  font-size: 0.8em;
  font-size: 0.8rem;
  color: #111;
  outline: 0;
  border: 0;
  &:hover {
	  background-color: #ebebeb;
  }
  &:focus {
  	box-shadow: inset 0px 0px 0px 2px @green;
    color: @gray;
    background-color: white;
  }
}
  
input[type=radio] {
  width: 16px;
  height: 16px;
	box-shadow: none;
}

button[type=submit],
.btn-download {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: @blue;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 0 0 darken(@blue, 8);
  text-shadow: 0 1px 2px fade(black, 25%);
  font-size: 1em;
  line-height: 1.2;
  padding: 0.75em 2em;
  text-align: center;
  display: inline-block;
  margin: @padding auto;
  transition: transform 50ms, box-shadow 50ms;
  &:active {
    transition: none;
    transform: translateY(2px);
    transform-origin: 0 100%;
    box-shadow: 0 0 0 0 darken(@green, 8);
    background-color: darken(@green, 4);
  }
}
.btn-download {
  .btn-download-cta {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    color: white;
  }
  .btn-download-version {
    text-shadow: none;
    font-size: 0.85em;
    font-weight: 500;
    color: fade(black, 50%);
  }
}

.btn-book {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: 4px solid white;
  border-radius: 2px;
  text-shadow: 0 1px 2px fade(black, 25%);
  background-color: rgba(0,0,0,0.8);
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.2;
  padding: 0.75em 2em;
  text-align: center;
  display: inline-block;
  margin: @padding auto;
  transition: transform 50ms, box-shadow 50ms;
  &:active {
    transition: none;
    transform: translateY(2px);
    transform-origin: 0 100%;
    box-shadow: 0 0 0 0 darken(@green, 8);
    background-color: darken(@green, 4);
  }
}
.btn-book {
  .btn-book-cta {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    color: white;
  }
  .btn-book-version {
    text-shadow: none;
    font-size: 0.85em;
    font-weight: 500;
    color: fade(black, 50%);
  }
}




.pressrelease {
  position: relative;
  padding-left: 6em;
  p {
    font-weight: 400;
    margin-top: 0;
    font-size: 0.9em;
    line-height: 1.5;
  }
}


// Generic table-layout:  element that allows you to float things up to 100%.
.row:after {
  content: "";
  display: block;
  clear: left;
}


@import "header";
@import "footer";


// clearfix mixin
.clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
}


// small screen
@media (max-width: @mobile-max) {
  .mainline, .container h1 {
    font-size: 2em !important;
  }
  .container {
    max-width: 100%;
    margin: 0 !important;
  }

  body.start .container {
    padding: 60px 20px;
  }
  body.start #intro .container svg {
    width: 120px;
    height: 120px;
  }
  body.start #features .feature {
    padding-bottom: 10px;
    svg {
      float: left;
      padding-right: 10px;
      vertical-align: middle;
    }
  }
  #site-footer .mini-sitemap {
    a {
      display: inline;
      .clearfix;
    }
  }
}



@import "page-front";

